@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*{
    box-sizing:border-box;
}

body {
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
img {
    max-width: 100%;
}

.mobile-container {
 width:400px;
 background-color: white;
 box-shadow:0 0 10px 2px #3333331A;
 border-radius: 3px;
 overflow: hidden;
}

header {
display: flex;
align-items: center;
justify-content: center;
padding: 1rem ;
}

header input {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius:3px;
    border:none;
}

header button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.25rem;
    margin-left: 10px ;
}

.fav-container {
    background-color: rgb(218, 204, 218);
    padding: 0.5rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    margin: 5px;
    width: 75px;
}

.fav-meals li img {
    border: 2px solid #3333331A;
    border-radius:50%;
    box-shadow:0 0 10px 2px #3333331A;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    font-size: 1rem ;
}

.meal {
    margin: 1.5rem;
    box-shadow:0 0 10px 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;

}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin:0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color:rgb(197, 188, 188);
    cursor: pointer;

}

.meal-body .fav-btn.active {
    color:rebeccapurple;
}